<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="usp" translate="label" sortOrder="10">
            <label>USP</label>
        </tab>
        <section id="usp_config" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>USP Config</label>
            <tab>usp</tab>
            <resource>NathanDay_Ussp::usp_config</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="0"
                   showInStore="0">
                <label>General Configuration</label>
                <field id="enable"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Show USP Blocks in Header</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="count"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>count</label>
                    <comment>How Many USP Blocks to Load?</comment>
                    <source_model>NathanDay\Usp\Model\Config\Source\Numbers</source_model>
                </field>
                <field id="blocks_s"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Small Display</label>
                    <comment>How many blocks to show on screen sizes less than 768px</comment>
                    <source_model>NathanDay\Usp\Model\Config\Source\Numbers</source_model>
                </field>
                <field id="blocks_m"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Medium Display</label>
                    <comment>How many blocks to show on screen sizes between 768px and 992px</comment>
                    <source_model>NathanDay\Usp\Model\Config\Source\Numbers</source_model>
                </field>
                <field id="blocks_l"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Large Display</label>
                    <comment>How many blocks to show on screen sizes between 992px and 1200px</comment>
                    <source_model>NathanDay\Usp\Model\Config\Source\Numbers</source_model>
                </field>
                <field id="blocks_xl"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Extra Large Display</label>
                    <comment>How many blocks to show on screen sizes 1200px and above</comment>
                    <source_model>NathanDay\Usp\Model\Config\Source\Numbers</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
